:root {
    --background-color-normal: transparent;
    --background-color-gray: #444444;
    --text-color-normal: white;
    --text-color-highlight: blue;
    --lines-color: orange;
}
/* Used in interactions */
body {
    color: grey;
    background-color: #222222;
}
